* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    background: #31367c;
}

nav {
    height: 80px;
    background: #2a2a6a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    background: #2a2a6a;
    color: #dccefd;
    padding-right: 50px;
}

.judul {
    color: #dccefd;
    justify-content: center;
    padding-left: 70px;
    padding-top: 20px;
    height: 80px;
}

.beranda1 {
    background: #31367c;
}

.container-b1 {
    display: grid;
    /* grid-template-columns: 42% 58%; */

    height: 50px;
    padding: 50px;
}

.teks1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #dccefd;
    padding: 15px;
}

.table1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.table1 td {
    color: #dccefd;
}

.table2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.table2 td {
    color: #dccefd;
}

.keluargaa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-right: 100px;
}

.gmbr {
    margin: auto;
}